ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004883;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #46A5E5;
  }
  
  .active {
    background-color: #004883;
  }
  .home{
    font-family: "bebas neue",cursive;
    font-size: 31.84px;

    font-weight: 800;
    background-color: white;
    color: #004883;
  }
  .logo{
    display: flex;
    justify-content: center;
   
  }
  .disc{
    font-family: "century gothic".cursive;
    font-size: 16px;
    font-weight: 500;
    background-color: #fff;
    color: #333333;
  }
  
  .container {
      padding-bottom: 3rem;
  }
 
  .container img:hover {
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      cursor: pointer;
  }
  .last {
      margin-top: 6.5rem;
  }
  
      .container {
          padding: 20px;
      }

  @media (max-width: 480px) {
      .column.is-one-quarter img {
          width: 100%;
          margin-bottom: 7rem;
      }
  }
  .imgg{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }
  .informations{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    color: #004883;
    font-family: "bebas neue",cursive;
    cursor: pointer;
    
  }
  @media (max-width: 480px) {
    .stat{
        height: 100px;
        width: 20px;
      }
}
  .stat{
    height: 100px;
    width: 20px;
  }
  
  .about-info{
     display: none;  
     position: absolute; 
 
    list-style: none;
    margin-left: -150px;    
}    
#about:hover .liste{
    display: flex;
    flex-direction: column;
}